polkit.addRule(function(action, subject) {
  var denies = [
    "org.freedesktop.Flatpak.install-system",
    "org.freedesktop.Flatpak.uninstall-system",
    "org.freedesktop.Flatpak.add-system-remote",
    "org.freedesktop.Flatpak.modify-system-remote",
    "org.freedesktop.Flatpak.remove-system-remote",
    "org.freedesktop.Flatpak.InstallFilesSystem",
    "org.freedesktop.Flatpak.*" // catch-all for any remaining system actions
  ];
  for (var i = 0; i < denies.length; i++) {
    if (action.id && action.id.indexOf(denies[i].replace("*","")) === 0) {
      if (!subject.isInGroup("wheel") && !subject.isInGroup("admin") && !subject.user == "root") {
        return polkit.Result.NO;
      }
    }
  }
});
