[Unit]
Description=Install per-user flatpaks
ConditionUser=!@system

[Service]
Type=simple
ExecStart=/usr/bin/bluebuild-flatpak-manager apply user

[Install]
WantedBy=graphical-session.target
