[Unit]
Description=Install per-user flatpaks
After=graphical-session.target
ConditionPathExists=/usr/share/bluebuild/default-flatpaks/configuration.yaml

[Service]
Type=simple
ExecStart=/usr/bin/bluebuild-flatpak-manager apply user

[Install]
WantedBy=graphical-session.target
